@import 'tailwindcss';
@import './markdown.css';
@import './shiki.css';

/**
* Hide elements with x-cloak attribute.
* This is useful for Alpine.js components that should not be visible before Alpine.js is initialized.
*/
[x-cloak] { display: none !important; }

@theme {
  --color-dark: #030712; /* Defines a single primary color */
  --color-darker: #050c1f;
}

.bg-pattern {
    background-image: url('data:image/svg+xml,%3Csvg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%231a1a1a" fill-opacity="0.4"%3E%3Cpath d="M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    background-size: 30px 30px; /* Adjust size for subtlety */
    background-repeat: repeat;
}

/* Fonts */
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, .geologica {
    font-family: 'Geologica', sans-serif;
}

.background-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.08;
    background-image: linear-gradient(45deg, rgba(84, 98, 118, 0.5) 25%, transparent 25%, transparent 75%, rgba(31, 41, 55, 0.5) 75%, rgba(31, 41, 55, 0.5)), linear-gradient(45deg, rgba(31, 41, 55, 0.5) 25%, transparent 25%, transparent 75%, rgba(31, 41, 55, 0.5) 75%, rgba(31, 41, 55, 0.5));
    /* background-image: linear-gradient(45deg, rgba(31, 41, 55, 0.5) 25%, transparent 25%, transparent 75%, rgba(31, 41, 55, 0.5) 75%, rgba(31, 41, 55, 0.5)), linear-gradient(45deg, rgba(31, 41, 55, 0.5) 25%, transparent 25%, transparent 75%, rgba(31, 41, 55, 0.5) 75%, rgba(31, 41, 55, 0.5)); */
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}