@import 'tailwindcss';
@import './doc.css';

/**
* Hide elements with x-cloak attribute.
* This is useful for Alpine.js components that should not be visible before Alpine.js is initialized.
*/
[x-cloak] { display: none !important; }

/**
 * Custom breakpoint for `sm:` to accommodate budget tablets with typical CSS widths of ~600px.
 * Tailwind CSS default `sm:` breakpoint is 640px.
 */
@theme {
    --breakpoint-sm: 480px
}

/* Fonts */
@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('/fonts/Geologica/Geologica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Outfit Font */
@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Public Sans Font */
@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/fonts/PublicSans/PublicSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Poppins Font */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Prompt Font */
@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt/Prompt-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

.geologica {
    font-family: 'Geologica', sans-serif;
}

.outfit {
    font-family: 'Outfit', sans-serif;
}

.public-sans {
    font-family: 'Public Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.prompt {
    font-family: 'Prompt', sans-serif;
}

body {
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Prompt', sans-serif;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes marquee-diagonal {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes swipe {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-marquee-diagonal {
  animation: marquee-diagonal 20s linear infinite;
}

.animate-swipe-1 {
  animation: swipe 2s ease-in-out infinite;
  animation-delay: 0.8s;
}

.animate-swipe-2 {
  animation: swipe 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

.animate-swipe-3 {
  animation: swipe 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.animate-swipe-4 {
  animation: swipe 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.animate-swipe-5 {
  animation: swipe 2s ease-in-out infinite;
}



.bg-grid {
    background-size: 40px 40px;
}

.bg-grid-transition::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, white 0%, transparent 15%, transparent 85%, white 100%);
    pointer-events: none;
}

.bg-grid-transition-top::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, white 0%, transparent 15%);
    pointer-events: none;
}

.bg-grid-transition-bottom::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 85%, white 100%);
    pointer-events: none;
}


/* .bg-pattern-dot {
    background-image: url('data:image/svg+xml,%3Csvg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%231a1a1a" fill-opacity="0.4"%3E%3Cpath d="M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    background-size: 30px 30px; 
    background-repeat: repeat;
    background-position: center;
} */

.bg-pattern-sm {
    background-size: 64px 64px;
}

.bg-pattern-md {
    background-size: 72px 72px;
}

.bg-pattern-lg {
    background-size: 96px 96px;
}

.bg-pattern {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97"><path d="M48,0 Q0,0 0,48 V96 H48 Q96,96 96,48 V0 Z" fill="%233B82F6"/></svg>');
    background-repeat: repeat;
    background-position: center;
}

.bg-pattern-white {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97"><path d="M48,0 Q0,0 0,48 V96 H48 Q96,96 96,48 V0 Z" fill="%23FFFFFF"/></svg>');
    background-repeat: repeat;
    background-position: center;
}

.bg-pattern-dark {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97"><path d="M48,0 Q0,0 0,48 V96 H48 Q96,96 96,48 V0 Z" fill="%23101828"/></svg>');
    background-repeat: repeat;
    background-position: center;
}

.text-stroke {
    paint-order: stroke fill;
}

.text-stroke-blue {
    -webkit-text-stroke: 2px #2b7fff;
}

.text-stroke-black {
    -webkit-text-stroke: 2px #000000;
}


/* ARCHIVE */
.bg-grid-pattern {
    background-image: linear-gradient(to right, #f3f4f6 1px, transparent 1px), linear-gradient(to bottom, #f3f4f6 1px, transparent 1px);
}

.bg-grid-pattern-blue {
    background-image: linear-gradient(to right, #3d8afc 1px, transparent 1px), linear-gradient(to bottom, #3d8afc 1px, transparent 1px);
    /* background-image: linear-gradient(to right, #296cfd 1px, transparent 1px), linear-gradient(to bottom, #296cfd 1px, transparent 1px); */
}

.bg-grid-pattern-dark {
    background-image: linear-gradient(to right, #192336 1px, transparent 1px), linear-gradient(to bottom, #192336 1px, transparent 1px);
    /* background-image: linear-gradient(to right, #101828 1px, transparent 1px), linear-gradient(to bottom, #101828 1px, transparent 1px); */
}

/* body {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path d="M0,0 H32 Q64,0 64,32 V64 H32 Q0,64 0,32 Z" fill="%233B82F6"/></svg>');
  background-repeat: repeat;
} */
