/**
* Global styles for markdown content.
*/

/* Headings */
.docs :where(h1) {
    @apply font-black text-black text-5xl sm:text-6xl xl:text-8xl tracking-tight;
}

.docs :where(h2) {
    @apply font-bold text-black text-3xl sm:text-4xl xl:text-6xl tracking-tight;
}

.docs :where(h3) {
    @apply font-bold text-black text-xl sm:text-2xl xl:text-4xl tracking-tight;
}

/* Paragraphs */
.docs :where(p) {
    @apply text-neutral-800 text-base sm:text-lg;
}

/* Links */
.docs :where(a) {
    @apply inline-block text-neutral-800 hover:text-blue-600 text-base sm:text-lg transition cursor-pointer;
} 

/* Lists */
.docs :where(ul) {
    @apply space-y-2 ml-4 marker:text-neutral-800 list-disc;
}
.docs :where(ol) {
    @apply space-y-2 ml-4 marker:text-neutral-800 list-decimal;
}
.docs :where(li) {
    @apply text-neutral-800 text-base sm:text-lg;
}

/* Images */
.docs :where(img) {
    @apply rounded w-full h-auto object-cover;
}

/* Blockquotes */
.docs :where(blockquote) {
    @apply bg-neutral-50 p-4 border-neutral-300 border-l-4 text-base sm:text-lg;
}

/* Divider */
.docs :where(hr) {
    @apply border border-neutral-200;
}
/* Tables */

.docs :where(div:has(table)) {
    /* @apply border border-neutral-200 w-full overflow-x-auto; */
    @apply w-full overflow-x-auto;
}
.docs :where(table) {
    @apply min-w-max;
}
.docs :where(table) {
    @apply w-full text-neutral-800 text-sm sm:text-base text-left;
    border-collapse: collapse;
}
.docs :where(th),
.docs :where(td) {
    @apply px-4 sm:px-8 py-3 border border-neutral-200;
}
.docs :where(th) {
    @apply bg-neutral-50 font-bold text-base sm:text-lg;
}