---
const { 
    href = '', 
    class: className = '',
    target = '',  
} = Astro.props;
---

<a href={href ?? '#'} class={`inline-block font-medium text-neutral-400 visited:text-neutral-200 hover:text-white focus:text-white text-lg sm:text-base cursor-pointer ${className}`} target={target || undefined}>
	<slot />
</a>