---
const { 
    href = '', 
    class: className = '',
    target = '',  
} = Astro.props;
---

<a href={href ?? '#'} class={`inline-block font-medium text-neutral-200  hover:text-blue-500 focus:text-blue-500 text-lg sm:text-base cursor-pointer ${className}`} target={target || undefined}>
	<slot />
</a>