---
import Section from '../../components/partials/Section.astro';
import H1 from '../../components/partials/H1.astro';
import Text from '../../components/partials/Text.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
import ButtonLinkSecondary from '../../components/partials/ButtonLinkSecondary.astro';
---
<Section id="header" class="pt-48 sm:pt-64 pb-32 min-h-dvh">
    <H1><span class="text-blue-500">Future Proof</span>&nbsp;Your Business With a&nbsp;<span class="text-blue-500">Website</span></H1>
    <h2 class="mt-4 max-w-4xl font-normal text-neutral-200 text-lg sm:text-xl lg:text-2xl">Your next web development partner, building websites that move people and grow your business.</h2>
    <div class="flex sm:flex-row flex-col gap-4 mt-16">
        <ButtonLink href="https://wa.me/60133377464?text=Hello%2C%20i%27m%20interested%20to%20have%20a%20website%20my%20business" target="_blank" >Build Your Website</ButtonLink>
        <ButtonLinkSecondary href="#pricings">View Pricings</ButtonLinkSecondary>
    </div>
</Section>