---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import H3 from '../../components/partials/H3.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
---
<Section id="how-we-work" class="space-y-2 bg-darker !p-2">
    <div class="bg-dark px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl"><span class="text-blue-500">The Journey</span>&nbsp;to Building Your Website</H2>
        <Text class="mt-6 max-w-4xl">Your website is the beginning of your brand’s digital journey. We walk with you every step of the way, transforming ideas into a high-performing online presence, guiding visitors through an intuitive experience, and ultimately turning them into loyal customers.</Text>
    </div>
    <div class="gap-2 grid grid-cols-1 sm:grid-cols-2">
        <div class="relative bg-dark py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">01</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Discovery</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Deep discussion about your business, industry and target customers.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Requirement gathering for pages, features, tools and integrations.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Setting clear milestones, timelines and expectations.</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-dark py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">02</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Strategy and Design</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Site structure planning for navigation, content flow and user journey.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Wireframes or low-fidelity layouts for clarity.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Review and refinements based on your feedback</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-dark py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">03</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Development</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Conventional development with best practices.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Performance and loading speed optimization.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Staging environment for you to preview progress.</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-dark py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">04</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Launch and Support</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Domain and hosting configuration.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Deployment to the live server.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <div class="[&_svg]:stroke-blue-500 mt-1 [&_svg]:w-5 [&_svg]:h-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-code-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l-2 -2l2 -2" /><path d="M14 10l2 2l-2 2" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
                        </div>
                        <Text class="text-neutral-200">Post-launch support for improvements, updates, and new features.</Text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>