---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import H3 from '../../components/partials/H3.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
import IconChevronRight from '../../components/partials/IconChevronRight.astro';
---
<Section id="how-we-work" class="space-y-2 bg-medium !p-2">
    <div class="bg-soft px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl"><span class="text-blue-500">The Journey</span>&nbsp;to Building Your Websites</H2>
    </div>
    <div class="gap-2 grid grid-cols-1 sm:grid-cols-2">
        <div class="relative bg-soft py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">01</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Discovery</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Discussion about your business, industry and target customers.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Requirement gathering for pages, features, tools and integrations.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Setting clear milestones, timelines and expectations.</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-soft py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">02</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Strategy and Design</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Site structure planning for content and user journey.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Wireframes or low-fidelity layouts for clarity.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Review and refinements based on your feedback</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-soft py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">03</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Development</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Conventional development with best practices.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Performance and loading speed optimization.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Staging environment for you to preview progress.</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative bg-soft py-16 border border-neutral-800 rounded-2xl">
            <p class="top-2 left-2 absolute font-mono font-black text-blue-500/35 text-8xl geologica">04</p>
            <div class="z-1 relative space-y-4 px-4 sm:px-6 lg:px-14">
                <H3>Launch and Support</H3>
                <div class="space-y-2">
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Domain and hosting configuration.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Deployment to the live server.</Text>
                    </div>
                    <div class="flex items-start gap-4">
                        <IconChevronRight />
                        <Text class="text-neutral-200">Post-launch support for fixes and updates.</Text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>