---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import H3 from '../../components/partials/H3.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import Link from '../../components/partials/Link.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
import ButtonLinkSecondary from '../../components/partials/ButtonLinkSecondary.astro';
import IconChevronRight from '../../components/partials/IconChevronRight.astro';
---
<Section id="pricing" class="bg-strong px-0! py-0!">
    <div class="px-6 sm:px-8 lg:px-16 py-8 lg:py-16 border-neutral-800 border-b">
        <H2><span class="text-blue-500">Affordable&nbsp;</span>Pricing Without Compromising&nbsp;<span class="text-blue-500">Quality</span></H2>
        </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 divide-x divide-y divide-neutral-800">
        <H3 class="lg:order-1 px-6 sm:px-8 lg:px-16 py-4">Starter</H3>
        <div class="lg:order-4 px-6 sm:px-8 lg:px-16 py-4">
            <Title class="text-white!">For businesses without website</Title>
            <ul class="space-y-2 mt-4">
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">1 Page website.</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Basic SEO setup.</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Contact channels.</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">.com domain with basic shared hosting.</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">1 revisions.</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">5 hours of maintenance.</Text>
                </li>
            </ul>
        </div>
        <div class="lg:order-7 px-6 sm:px-8 lg:px-16 py-4">
            <Text class="text-neutral-200">Starting from</Text>
            <Text class="font-bold text-4xl! text-neutral-200">RM999</Text>
        </div>
        <H3 class="lg:order-2 px-6 sm:px-8 lg:px-16 py-4 text-blue-500!">Advance</H3>
        <div class="lg:order-5 px-6 sm:px-8 lg:px-16 py-4">
            <Title class="text-white!">For ambitious growing businesses</Title>
            <ul class="space-y-2 mt-4">
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Up to 8 pages website</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">SEO friendly structure</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Basic CMS dashboard</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">.com domain with standard shared hosting</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">3 revisions</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">10 hours of maintenance.</Text>
                </li>
            </ul>
        </div>
        <div class="lg:order-8 px-6 sm:px-8 lg:px-16 py-4">
            <Text>Starting from</Text>
            <Text class="font-bold text-4xl! text-blue-500!">RM2999</Text>
        </div>
        <H3 class="lg:order-3 px-6 sm:px-8 lg:px-16 py-4">Premium</H3>
        <div class="lg:order-6 px-6 sm:px-8 lg:px-16 py-4">
            <Title class="text-white!">For leading established businesses</Title>
            <ul class="space-y-2 mt-4">
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Unlimited pages</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Optimized SEO</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Advanced functionality & integrations</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">.com domain with VPS hosting</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Multiple revisions subject to terms</Text>
                </li>
                <li class="flex items-start gap-4">
                    <IconChevronRight />
                    <Text class="text-neutral-200">Multiple maintenance hours subject to terms</Text>
                </li>
            </ul>
        </div>
        <div class="flex items-center lg:order-9 px-6 sm:px-8 lg:px-16 py-4">
            <ButtonLinkSecondary class="w-full sm:w-auto">Contact Sales</ButtonLinkSecondary>
        </div>
    </div>
</Section>
<Section class="bg-strong">
    <div class="max-w-5xl">
        <H2>Invest in a Website That&nbsp;<br class="hidden lg:block"><span class="text-blue-500">Elevates Your Brand</span></H2>
    <ButtonLink class="mt-8" href="https://wa.me/60133377464?text=Hello%2C%20I%E2%80%99m%20interested%20to%20build%20a%20website%20for%20my%20business" target="_blank">Talk to Us Now</ButtonLink>
        <div class="flex mt-2">
            <Text>For more pricing details, refer&nbsp;</Text>
            <Link href="/docs/pricing-details" class="underline">here</Link>
        </div>
    </div>
</Section>