---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
---
<Section id="what-we-do" class="px-0! py-0!">
    <div class="flex lg:flex-row flex-col lg:divide-x divide-y lg:divide-y-0 divide-neutral-800">
        <div class="px-6 sm:px-8 lg:px-16 py-8 lg:py-16 shrink-0">
            <Title>The renovisi experience</Title>
        </div>
        <div class="px-6 sm:px-8 lg:px-16 py-8 lg:py-16">
            <H2>We Build Websites That Build Your Business</H2>
            <Text class="mt-6">We combine creativity, technology and strategy to build a website that performs, converts and elevates your brand. Every website we develop is carefully crafted to deliver real value, strong performance, and long-lasting results.</Text>
        </div>
    </div>
</Section>
<Section class="flex px-0! py-0!">
    <img src="/images/what-we-do.webp" class="w-full h-auto shrink-0" alt="What we do."/>
</Section>