---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import Display from '../../components/partials/Display.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
---
<Section id="what-we-do" class="bg-soft px-0! py-0!">
    <div class="flex lg:flex-row flex-col lg:divide-x divide-y lg:divide-y-0 divide-neutral-800">
        <div class="px-6 sm:px-8 lg:px-16 py-8 lg:py-16 shrink-0">
            <Title>The renovisi experience</Title>
        </div>
        <div class="px-6 sm:px-8 lg:px-16 py-8 lg:py-16">
            <H2>We Build Websites That Build Your Business</H2>
            <Display class="mt-4">We are a web development agency that creates high converting websites designed to help your business grow and build your online presence.</Display>
        </div>
    </div>
</Section>
<Section class="flex px-0! py-0!">
    <img src="/images/what-we-do.webp" class="w-full h-auto shrink-0" alt="What we do."/>
</Section>