---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import H3 from '../../components/partials/H3.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
---
<Section id="why-build-a-website" class="space-y-2 bg-medium! p-2!">
    <div class="bg-soft px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl">Every Business Needs a&nbsp;<span class="text-blue-500">Professional Website</span></H2>
        <!-- <Text class="mt-6 max-w-4xl">Your website is your most valuable digital asset and the foundation of your online presence to establish credibility, reach a wider audience and help customers to choose you. Believe it or not, simply by not having a website holds you back in ways you might not notice even if your business is active on social media, selling offline or growing through personal networks and existing customers.</Text> -->
    </div>
    <div class="gap-2 grid grid-cols-1 sm:grid-cols-2">
        <div class="bg-soft py-16 border border-neutral-800 rounded-2xl">
            <div class="space-y-8 px-4 sm:px-6 lg:px-14">
                <H3>Business Without a Website</H3>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Zero Online Credibility</Title>
                        <Text class="mt-2">Customers often search online before trusting a business and without a website they may assume you’re outdated, unprofessional or even a scam.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Missed Customers Searching Information Online</Title>
                        <Text class="mt-2">People search Google for everything, including services, locations, hours, and reviews and if you’re not online, they’ll find your competitors instead.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Over dependence on Social Media</Title>
                        <Text class="mt-2">Relying only on platforms like Facebook or Instagram is risky, as algorithm changes or bans can hurt your business visibility.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">No Central Place to Showcase Your Brand</Title>
                        <Text class="mt-2">Without a website, your information is scattered, making it difficult for customers to find your services or contact details all in one clean location.</Text>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-soft py-16 border border-neutral-800 rounded-2xl">
            <div class="space-y-8 px-4 sm:px-6 lg:px-14">
                <H3 class="text-white!">Business With a Website</H3>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Build Instant Credibility</Title>
                        <Text class="mt-2">A professional website immediately boosts trust and credibility, showing customers that your business is real, reliable, and serious about serving them.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Capture Customers Actively Searching for You</Title>
                        <Text class="mt-2">SEO-friendly websites ensure your business appears when customers search online, increasing visibility and attracting valuable leads that you might otherwise miss.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Stable Place for Your Brand</Title>
                        <Text class="mt-2">A website serves as the central hub for your brand, a digital asset you fully own with no algorithms, no restrictions, no platform risks and complete control.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Present Everything Clearly in One Place</Title>
                        <Text class="mt-2">A space that lets you showcase your products, services and brand story all in one place, helping customers easily find the information they need about your business.</Text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-soft px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl">Your website is not just a digital brochure,&nbsp;<span class="text-blue-500">it’s your most critical tool.</span></H2>
        <div class="flex sm:flex-row flex-col gap-4 mt-8">
            <ButtonLink href="https://wa.me/60133377464?text=Hello%2C%20I%E2%80%99m%20interested%20to%20build%20a%20website%20for%20my%20business" target="_blank" >Start Now</ButtonLink>
        </div>
    </div>
</Section>