---
import Section from '../../components/partials/Section.astro';
import H2 from '../../components/partials/H2.astro';
import H3 from '../../components/partials/H3.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import ButtonLink from '../../components/partials/ButtonLink.astro';
---
<Section id="why-build-a-website" class="space-y-2 bg-darker !p-2">
    <div class="bg-dark px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl">Every Business Needs a&nbsp;<span class="text-blue-500">Professional Website</span></H2>
        <Text class="mt-6 max-w-4xl">Your website is your most valuable digital asset and the foundation of your online presence to establish credibility, reach a wider audience and help customers to choose you. Believe it or not, simply by not having a website holds you back in ways you might not notice even if your business is active on social media, selling offline or growing through personal networks and existing customers.</Text>
    </div>
    <div class="gap-2 grid grid-cols-1 sm:grid-cols-2">
        <div class="bg-dark py-16 border border-neutral-800 rounded-2xl">
            <div class="space-y-8 px-4 sm:px-6 lg:px-14">
                <H3>Business Without a Website</H3>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Zero Online Credibility</Title>
                        <Text class="mt-2">Customers often search online before trusting a business. Without a website, they may assume you’re outdated, unprofessional, or possibly a scam.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Missed Customers Searching Information Online</Title>
                        <Text class="mt-2">People search Google for everything that include services, locations, operating hours, reviews. If you’re not online, they will always find your competitors instead.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Over dependence on Social Media</Title>
                        <Text class="mt-2">Relying only on platforms like Facebook or Instagram is risky. Algorithm changes, account bans, or limited reach can instantly affect your business visibility.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">No Central Place to Showcase Your Brand</Title>
                        <Text class="mt-2">Relying only on platforms like Facebook or Instagram is risky. Algorithm changes, account bans, or limited reach can instantly affect your business visibility.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-red-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Limited Ability to Compete</Title>
                        <Text class="mt-2">Your competitors with websites appear more established, more professional, and more prepared even if you have better services.</Text>
                    </div>
                </div>
            </div>
            <div class="flex mx-2">
                <!-- <div class="background-pattern"></div> -->
            </div>
        </div>
        <div class="bg-dark py-16 border border-neutral-800 rounded-2xl">
            <div class="space-y-8 px-4 sm:px-6 lg:px-14">
                <H3 class="text-white!">Business With a Website</H3>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Build Instant Credibility</Title>
                        <Text class="mt-2">A professional website immediately boosts trust. It shows customers that your business is real, reliable, and serious about serving them.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Capture Customers Actively Searching for You</Title>
                        <Text class="mt-2">We build SEO friendly websites that help your business appear when customers search online which helps bringing in leads you would have otherwise lost.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Stable Place for Your Brand</Title>
                        <Text class="mt-2">A website serves as a central hub for your brand. It is a digital asset you fully own without algorithms, no restrictions, no platform risks and total full control.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Present Everything Clearly in One Place</Title>
                        <Text class="mt-2">A website allows you to showcase your products services and brand story all in one place. It makes it easy for customers to find the information they need about your business.</Text>
                    </div>
                </div>
                <div class="flex gap-4 sm:gap-8">
                    <div class="[&_svg]:stroke-green-600 [&_svg]:lg:w-12 [&_svg]:w-8 [&_svg]:h-8 [&_svg]:lg:h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icons-tabler-outline icon icon-tabler icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </div>
                    <div>
                        <Title class="text-white!">Level the Playing Field and Win It</Title>
                        <Text class="mt-2">A strong website allows businesses to compete professionally with bigger brands, giving you an edge in a crowded digital market.</Text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark px-4 sm:px-6 lg:px-14 py-16 border border-neutral-800 rounded-2xl">
        <H2 class="max-w-4xl">Your website is not just a digital brochure,&nbsp;<span class="text-blue-500">it’s your most critical tool.</span></H2>
        <div class="flex sm:flex-row flex-col gap-4 mt-16">
            <ButtonLink href="#">Start Now</ButtonLink>
        </div>
    </div>
</Section>
<!-- <Section>
    <H2 class="max-w-4xl">Your website is not just a digital brochure,&nbsp;<span class="text-blue-500">it’s your most critical tool.</span></H2>
    <div class="flex sm:flex-row flex-col gap-4 mt-16">
        <ButtonLink href="#">Start Now</ButtonLink>
    </div>
</Section> -->