---
const { 
    class: className = '', 
    ...rest
} = Astro.props;
---

<a class={`rounded-full inline-block font-medium bg-blue-500 hover:bg-blue-600 cursor-pointer text-white px-6 py-3 sm:px-8 sm:py-4 sm:text-lg text-base transition ${className}`} {...rest}>
	<slot />
</a>