---
import LinkActive from './partials/LinkActive.astro';
import Link from './partials/Link.astro';

const { page } = Astro.props;
const links = [
    // { name: "Home", href: '/' },
    // { name: "Blog", href: '/blog' },
];
---

<nav class="top-0 z-10 fixed bg-dark border-neutral-800 border-b w-full"
    x-data="{
        breakpoint: 1024,
        isNavbarMenuOpen: false,
        isScrolled: window.scrollY > 0
    }"
    x-on:resize.window="
        if (window.innerWidth >= breakpoint) {
            isNavbarMenuOpen = false;
        }
    "
    x-on:scroll.window="isScrolled = window.scrollY > 0;"
>
    <div class="absolute! background-pattern"></div>
    <div class="flex justify-between items-center mx-auto px-4 sm:px-10 lg:px-0 py-4 max-w-screen-xl">
        <a href="/" class="font-bold text-white text-2xl -tracking-tight">
            <span class="text-blue-500">.reno</span><span>visi</span>
        </a>
        <div class="flex items-center gap-2 lg:gap-6">
            <!-- Navbar Menu -->
            <div id="navbar-menu" class="hidden invisible lg:visible lg:block top-0 lg:top-auto left-0 lg:left-auto z-10 lg:z-auto fixed lg:relative bg-black/80 lg:bg-transparent w-dvw lg:w-auto h-dvh lg:h-auto"
                x-trap.noautofocus.noscroll="isNavbarMenuOpen && window.innerWidth < breakpoint"
                x-on:click.self="isNavbarMenuOpen = false"
                x-on:keydown.escape.window="isNavbarMenuOpen = false"
                :class="{ 'hidden invisible' : !isNavbarMenuOpen || window.innerWidth >= breakpoint }"
                :inert="!isNavbarMenuOpen && window.innerWidth < breakpoint"
            >
                <!-- Navbar Menu Drawer -->
                <div class="top-0 right-0 fixed lg:relative bg-darker lg:bg-transparent px-4 sm:px-10 lg:px-18 xl:px-0 py-4 lg:py-0 border-neutral-800 lg:border-0 border-r w-full sm:w-64 lg:w-auto h-full lg:h-auto overflow-y-auto lg:overflow-y-visible">
                    <!-- Navbar Menu Close -->
                    <button type="button" class="hidden invisible top-4 right-4 sm:right-8 absolute hover:bg-blue-500 focus:bg-blue-500 disabled:opacity-60 [&_svg]:stroke-white p-2 rounded font-medium text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Close navbar menu."
                        x-on:click="isNavbarMenuOpen = false"
                        :aria-expanded="isNavbarMenuOpen"
                    >
                        <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                        </span>
                    </button>
                    <!-- END Navbar Menu Close -->
                    <!-- Navbar Menu Links -->
                    <ul class="lg:flex lg:items-center lg:gap-8 space-y-1 lg:space-y-0 mt-8 lg:mt-0 leading-0">
                        {links.map((link) => (
                            <li>
                                {page === link.name ? (
                                    <LinkActive href={link.href}>{link.name}</LinkActive>
                                ) : (
                                    <Link href={link.href}>{link.name}</Link>
                                )}
                            </li>
                        ))}
                    </ul>
                    <!-- END Navbar Menu Links -->
                </div>
                <!-- END Navbar Menu Drawer -->
            </div>  
            <!-- END Navbar Menu -->
            <!-- Dark Mode Menu Component -->
            <div class="relative w-fit"
                x-data="{ 
                    isDropdownOpen: false,
                    theme: localStorage.theme || 'system',
                    toggleTheme(newTheme) {
                        this.theme = newTheme;
                        newTheme === 'system' 
                            ? localStorage.removeItem('theme') 
                            : localStorage.theme = newTheme;
                        document.documentElement.classList.toggle('dark', 
                            newTheme === 'dark' || (newTheme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)
                        );
                        this.isDropdownOpen = false;
                    },
                }"
                x-on:click.outside="isDropdownOpen = false"
                x-on:keydown.escape.window="isDropdownOpen = false"
            >
                <!-- Dark Mode Menu Toggle -->
                <button type="button" class="hover:bg-blue-500 focus:bg-blue-500 disabled:opacity-60 [&_svg]:stroke-white p-2 rounded font-medium text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="dark-mode-menu" aria-label="Toggle dark mode menu."
                    x-ref="button"
                    x-on:click="isDropdownOpen = !isDropdownOpen"
                    :aria-expanded="isDropdownOpen"
                >
                    <span class="hidden [&_svg]:w-5 [&_svg]:h-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"/><path d="M6.343 17.657l-1.414 1.414"/><path d="M6.343 6.343l-1.414 -1.414"/><path d="M17.657 6.343l1.414 -1.414"/><path d="M17.657 17.657l1.414 1.414"/><path d="M4 12h-2"/><path d="M12 4v-2"/><path d="M20 12h2"/><path d="M12 20v2"/></svg>
                    </span>
                    <span class="block [&_svg]:w-5 [&_svg]:h-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/></svg>
                    </span>
                </button>
                <!-- END Dark Mode Menu Toggle -->
                <!-- Dark Mode Menu -->
                <div id="dark-mode-menu" class="right-0 z-10 absolute bg-darker mt-4 border border-neutral-800 rounded w-48"
                    x-show="isDropdownOpen"
                    x-cloak
                    x-anchor.no-style.offset.8="$refs.button"
                    :inert="!isDropdownOpen"
                    :style="{ top: $anchor.y+'px'}"
                >
                    <ul class="space-y-1 p-1 leading-0">
                        <li>
                            <button type="button" class="flex items-center gap-2 hover:bg-blue-500 [&_svg]:stroke-white px-3 py-2 rounded w-full font-medium text-white text-sm text-left cursor-pointer" aria-label="Set light theme."
                                x-on:click="toggleTheme('light')"
                                :class="{'bg-blue-500': theme === 'light'}"
                            >
                                <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"/><path d="M6.343 17.657l-1.414 1.414"/><path d="M6.343 6.343l-1.414 -1.414"/><path d="M17.657 6.343l1.414 -1.414"/><path d="M17.657 17.657l1.414 1.414"/><path d="M4 12h-2"/><path d="M12 4v-2"/><path d="M20 12h2"/><path d="M12 20v2"/></svg>
                                </span>
                                <span>Light</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="flex items-center gap-2 hover:bg-blue-500 [&_svg]:stroke-white px-3 py-2 rounded w-full font-medium text-white text-sm text-left cursor-pointer" aria-label="Set dark theme."
                                x-on:click="toggleTheme('dark')"
                                :class="{'bg-blue-500': theme === 'dark'}"
                            >
                                <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/></svg>
                                </span>
                                <span>Dark</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="flex items-center gap-2 hover:bg-blue-500 [&_svg]:stroke-white px-3 py-2 rounded w-full font-medium text-white text-sm text-left cursor-pointer" aria-label="Set system theme."
                                x-on:click="toggleTheme('system')"
                                :class="{'bg-blue-500': theme === 'system'}"
                            >
                                <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z"/><path d="M7 20h10"/><path d="M9 16v4"/><path d="M15 16v4"/></svg>
                                </span>
                                <span>System</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- END Dark Mode Menu -->
            </div>
            <!-- END Dark Mode Menu Component -->  
            <!-- Navbar Menu Open -->
            <button type="button" class="lg:hidden lg:invisible hover:bg-blue-500 focus:bg-blue-500 disabled:opacity-60 [&_svg]:stroke-white p-2 rounded font-medium text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Open navbar menu."
                x-on:click="isNavbarMenuOpen = true"
                :aria-expanded="isNavbarMenuOpen"
            >
                <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
                </span>
            </button>
            <!-- END Navbar Menu Open -->
        </div>
    </div>
</nav>