---
import LinkActive from './partials/LinkActive.astro';
import Link from './partials/Link.astro';

const { page } = Astro.props;
const links = [
    // { name: "Home", href: '/' },
    // { name: "Blog", href: '/blog' },
];
---

<nav class="top-0 z-10 fixed bg-dark border-neutral-800 border-b w-full"
    x-data="{
        breakpoint: 1024,
        isNavbarMenuOpen: false,
        isScrolled: window.scrollY > 0
    }"
    x-on:resize.window="
        if (window.innerWidth >= breakpoint) {
            isNavbarMenuOpen = false;
        }
    "
    x-on:scroll.window="isScrolled = window.scrollY > 0;"
>
    <div class="absolute! background-pattern"></div>
    <div class="flex justify-between items-center mx-auto px-4 sm:px-10 lg:px-18 xl:px-0 py-4 max-w-screen-xl">
        <a href="/" class="font-bold text-white text-2xl -tracking-tight">
            <span class="text-blue-500">.reno</span><span>visi</span>
        </a>
        <div class="flex items-center gap-2 lg:gap-6">
            <!-- Navbar Menu -->
            <div id="navbar-menu" class="hidden invisible lg:visible lg:block top-0 lg:top-auto left-0 lg:left-auto z-10 lg:z-auto fixed lg:relative bg-black/80 lg:bg-transparent w-dvw lg:w-auto h-dvh lg:h-auto"
                x-trap.noautofocus.noscroll="isNavbarMenuOpen && window.innerWidth < breakpoint"
                x-on:click.self="isNavbarMenuOpen = false"
                x-on:keydown.escape.window="isNavbarMenuOpen = false"
                :class="{ 'hidden invisible' : !isNavbarMenuOpen || window.innerWidth >= breakpoint }"
                :inert="!isNavbarMenuOpen && window.innerWidth < breakpoint"
            >
                <!-- Navbar Menu Drawer -->
                <div class="top-0 right-0 fixed lg:relative bg-darker lg:bg-transparent px-4 sm:px-10 lg:px-18 xl:px-0 py-4 lg:py-0 border-neutral-800 lg:border-0 border-r w-full sm:w-64 lg:w-auto h-full lg:h-auto overflow-y-auto lg:overflow-y-visible">
                    <!-- Navbar Menu Close -->
                    <button type="button" class="hidden invisible top-4 right-4 sm:right-8 absolute hover:bg-blue-500 focus:bg-blue-500 disabled:opacity-60 [&_svg]:stroke-white p-2 rounded font-medium text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Close navbar menu."
                        x-on:click="isNavbarMenuOpen = false"
                        :aria-expanded="isNavbarMenuOpen"
                    >
                        <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
                        </span>
                    </button>
                    <!-- END Navbar Menu Close -->
                    <!-- Navbar Menu Links -->
                    <ul class="lg:flex lg:items-center lg:gap-8 space-y-1 lg:space-y-0 mt-8 lg:mt-0 leading-0">
                        {links.map((link) => (
                            <li>
                                {page === link.name ? (
                                    <LinkActive href={link.href}>{link.name}</LinkActive>
                                ) : (
                                    <Link href={link.href}>{link.name}</Link>
                                )}
                            </li>
                        ))}
                    </ul>
                    <!-- END Navbar Menu Links -->
                </div>
                <!-- END Navbar Menu Drawer -->
            </div>  
            <!-- END Navbar Menu --> 
            <!-- Navbar Menu Open -->
            <button type="button" class="lg:hidden lg:invisible hover:bg-blue-500 focus:bg-blue-500 disabled:opacity-60 [&_svg]:stroke-white p-2 rounded font-medium text-white text-sm cursor-pointer disabled:pointer-events-none" aria-controls="navbar-menu" aria-label="Open navbar menu."
                x-on:click="isNavbarMenuOpen = true"
                :aria-expanded="isNavbarMenuOpen"
            >
                <span class="[&_svg]:w-5 [&_svg]:h-5 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
                </span>
            </button>
            <!-- END Navbar Menu Open -->
        </div>
    </div>
</nav>