---
const { 
    class: className = '', 
    ...rest
} = Astro.props;
---

<p class={`font-bold tracking-tight text-black text-2xl sm:text-3xl xl:text-4xl prompt ${className}`} {...rest}>
    <slot />
</p>