---
import Section from '../Section.astro';
import H2 from '../H2.astro';
import H3 from '../H3.astro';
import Text from '../Text.astro';
import ButtonLinkCta from '../ButtonLinkCta.astro';
---

<Section id="problem" class="relative overflow-hidden">
    <p class="top-12 sm:top-20 lg:top-24 left-1/2 absolute opacity-40 text-stroke-blue font-black text-[8rem] text-stroke text-white sm:text-[12rem] lg:text-[16rem] uppercase text-nowrap leading-1 tracking-tighter transition -translate-x-1/2 transform"
        x-data="{ offset: 0 }"
        x-init="
            window.addEventListener('scroll', () => {
                offset = window.scrollY * 0.2;
            });
        "
        :style="`left: calc(50% + ${offset}px)`"
    >Why your brands needs a professional website</p>
    <div class="z-1 relative mx-auto px-4 sm:px-8 max-w-screen-xl">
        <H2 class="mx-auto max-w-screen-sm lg:max-w-screen-md text-center">Every Brand Needs <span class="text-blue-500">Professional Website</span></H2>
        <div class="gap-12 lg:gap-24 grid lg:grid-cols-2 mx-auto mt-16 lg:mt-32 max-w-screen-sm lg:max-w-screen-xl">
            <div class="space-y-8 lg:space-y-16">
                <div class="flex items-start gap-4">
                    <div class="bg-blue-500 mt-5 w-32 h-1"></div>
                    <div>
                        <H3>Instant Credibility</H3>
                        <Text class="mt-2 lg:mt-4">Customers always search online and well designed website shows your brand is legitimate and reliable.</Text>
                    </div>
                </div>
                <div class="flex items-start gap-4">
                    <div class="bg-blue-500 mt-5 w-32 h-1"></div>
                    <div>
                        <H3>Competitive Advantage</H3>
                        <Text class="mt-2 lg:mt-4">Customers are more confident engaging with brands that present themselves well online.</Text>
                    </div>
                </div>
            </div>
            <div class="space-y-8 lg:space-y-16 lg:mt-12">
                <div class="flex items-start gap-4">
                    <div class="bg-blue-500 mt-5 w-32 h-1"></div>
                    <div>
                        <H3>Reach Customers</H3>
                        <Text class="mt-2 lg:mt-4">SEO friendly structure helps your brand appear and more visible when customers are actively searching.</Text>
                    </div>
                </div>
                <div class="flex items-start gap-4">
                    <div class="bg-blue-500 mt-5 w-32 h-1"></div>
                    <div>
                        <H3>Full Control</H3>
                        <Text class="mt-2 lg:mt-4">A long-term, fully owned digital asset without platform restrictions or algorithm limitations.</Text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative bg-blue-500 shadow-blue-500/20 shadow-xl mx-4 sm:mx-8 xl:mx-auto mt-16 sm:mt-24 lg:mt-32 px-4 sm:px-8 py-12 sm:py-16 lg:py-24 rounded-4xl max-w-screen-xl overflow-hidden">
        <div class="absolute inset-0 bg-pattern-md bg-pattern-white opacity-5 w-full h-full animate-marquee-diagonal"></div>
        <div class="z-1 relative">
            <H2 class="mx-auto px-4 sm:px-8 max-w-4xl text-white! text-center">Give Your Brand the Website It Truly Deserves</H2>
            <div class="flex justify-center mt-8 sm:mt-12 lg:mt-16">
                <ButtonLinkCta href="https://wa.me/60133377464?text=Hello%2C%20I%E2%80%99m%20interested%20to%20build%20a%20website%20for%20my%20business" target="_blank" class="hover:scale-105 transform">Start Now</ButtonLinkCta>
            </div>
        </div>
    </div>
</Section>